body {
	min-width: 320px;
	max-width: 100%;
	margin: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.container {
	width: 280px;
	margin: 0 auto;
}

.section_title {
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.section_text {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	text-align: center;
}

/*======= О Борисе ==========*/

.image_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.tech_list {
	margin: 0;
	margin-top: 20px;
	padding: 0;
	display: flex;
	list-style: none;
}

.tech_item {
	width: 40px;
	height: 40px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.tech_item:not(:last-child) {
	margin-right: 10px;
}

.item-html {
	background-image: url("../img/icons8-html-5-48.png");
}

.item-css {
	background-image: url("../img/icons8-css3-48.png");
}

.item-js {
	background-image: url("../img/js-icon.png");
}

.item-sass {
	background-image: url("../img/sass-logo.png");
}

.item-gulp {
	background-image: url("../img/gulp.png");
}

.item-git {
	background-image: url("../img/icons8-git-48.png");
}

.about {
	padding-top: 60px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.about_info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo{
	border-radius: 40px;
}

.about h1 {
	padding: 5px;
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 38px;
	line-height: 38px;
	background-color: #F1F1F9;
}

.about p {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 24px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.4);
}

.social {
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	margin-top: 25px;
	padding: 0;
	display: flex;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 20px;
}

.social li {
	list-style: none;
}

.social li:not(:last-child) {
	margin-right: 10px;
}

.social_button {
	display: block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.social_button:hover {
	opacity: 0.6;
}

.social_button:active {
	opacity: 0.3;
}

.vk_button {
	background-image: url(../img/icons8-вконтакте-50.png);
}

.git_button {
	background-image: url(../img/icons8-github-50.png);
}

/*====== Навыки =========*/

.experience {
	margin-top: 30px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

.experience .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experience_list,
.certificate_list {
	margin-top: 40px;
	padding: 0;
	list-style: none;
}

.experience_item {
	position: relative;
	margin-bottom: 20px;
	padding-left: 30px;
	font-size: 16px;
	line-height: 20px;
}

.htmlacademy_link {
	font-size: 16px;
	color: #000000;
	text-decoration: underline;
}

.experience_item::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background-image: url("../img/icons8-инфографика.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.certificate_btn {
	margin-top: 20px;
	position: relative;
	border: none;
	background: none;
	outline: none;
	padding: 5px 0;
	margin-right: 30px;
	cursor: pointer;
	font-size: 16px;
	line-height: 16px;
	opacity: 0.6;
	border-bottom: 1px solid #000000;
}

.certificate_btn::after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: 10px;
	right: -30px;
	border: 12px solid #e74848;
	transform: rotate(0);
	border-bottom-width: 0px;
	border-left-color: transparent;
	border-right-color: transparent;
}

.certificate_btn:hover {
	opacity: 1;
}

.certificate_btn:active {
	opacity: 0.3;
}

.certificate_list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.certificate_list--closed {
	display: none;
}

.certificate_btn--active::after {
	transform: rotate(180deg);
}

.certificate_item {
	margin-bottom: 20px;
}

/*====== Портфолио ==========*/

.portfolio_button {
	width: 100%;
	padding: 15px 0;
	position: relative;

	border: none;
	outline: none;
	cursor: pointer;

	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	background-color: #A52A2A;
	border-radius: 10px;
	opacity: 0.9;
}

.portfolio_button:hover {
	opacity: 1;
}

.portfolio_button:active {
	color: rgba(255, 255, 255, 0.3);
}

.portfolio {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;

	text-align: center;
}

.project_list {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 60px;
	padding: 0;
}

.project_item {
	list-style: none;
	margin-bottom: 40px;
}

.project_link {
	display: block;
	position: relative;
	border: 1px solid #999999;
	border-radius: 20px;
	overflow: hidden;
	z-index: 1;
}

.project_link img {
	display: block;
	max-width: 100%;
	transition: transform 0.3s ease;
}

.project_link:hover img {
	transform: translateX(100%);
}

.project_link::after,
.project_link::before {
	position: absolute;
	left: 0;
  	z-index: -1;
  	box-sizing: border-box;
  	width: 100%;
  	background-color: #333333;
  	text-align: center;
  	transition: transform 0.3s ease-in-out;
  	transform: translateX(-80px);
}

.project_link::after {
	top: 0;
	padding: 30px;
	height: 30%;
	color: #ffffff;
	content: attr(data-title);
	font-weight: bold;
	font-size: 22px;
}

.project_link::before {
	bottom: 0;
	padding: 30px;
	height: 70%;
	color: #ffffff;
	content: attr(data-description);
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
}

.project_link:hover::before,
.project_link:hover::after {
  	transform: translateX(0);
}

.contacts {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f1f1f1;
}

.contacts_list {
	margin-top: 40px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.contacts_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.contacts_item span {
	margin-bottom: 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}

.contacts_item a {
	display: block;
	width: 100%;
	padding: 15px 0;

	color: #000000;
	background-color: #ffffff;
}

@media (min-width: 660px) {
	.container {
		width: 620px;
		margin: 0 auto;
	}
	.about {
		width: 660px;
		margin: 0 auto;
		padding-top: 100px;
		padding-bottom: 60px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
		flex-direction: row;
	}

	.about h1 {
		margin-bottom: 0;
		font-size: 42px;
		line-height: 42px;
	}

	.about p {
		margin-top: 30px;
		margin-bottom: 0;
		font-size: 28px;
		line-height: 28px;
		color: rgba(0, 0, 0, 0.4);
	}

	.section_title {
		font-size: 34px;
		line-height: 34px;
	}

	.portfolio_button {
		margin-top: 80px;
		font-size: 20px;
		line-height: 24px;
		width: 300px;
	}

	.project_list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.project_item {
		width: 290px;
	}

	.project_item:not(:nth-child(2n)) {
		margin-right: 40px;
	}

	.tech_list {
		margin-top: 30px;
	}

	.tech_item {
		width: 60px;
		height: 60px;
	}

	.social {
		margin-top: 30px;
	}

	.experience_item {
		font-size: 18px;
		line-height: 22px;
	}

	.certificate_list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.certificate_item img {
		width: 300px;
	}

	.certificate_item:not(:nth-child(2n)) {
		margin-right: 20px;
	}

	.contacts_item a {
		width: 300px;
	}
}

@media (min-width: 960px) {
	.section_text {
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 22px;
		line-height: 26px;
	}

	.container {
		width: 920px;
		margin: 0 auto;
	}
	.about {
		padding-top: 160px;
		padding-bottom: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		flex-direction: row;
	}

	.photo {
		width: 350px;
	}

	.about h1 {
		padding: 5px;
		margin-top: 50px;
		margin-bottom: 0;
		font-size: 48px;
		line-height: 48px;
		background-color: #F1F1F9;
	}

	.about p {
		margin-top: 40px;
		font-size: 32px;
		line-height: 32px;
	}

	.section_title {
		font-size: 38px;
		line-height: 38px;
	}

	.portfolio_button {
		margin-top: 120px;
		font-size: 22px;
		line-height: 26px;
	}

	.portfolio {
		padding-top: 100px;
		padding-bottom: 50px;
	}

	.project_item {
		width: 280px;
	}

	.project_item:not(:nth-child(2n)) {
		margin-right: 0;
	}

	.project_item:not(:nth-child(3n)) {
		margin-right: 40px;
	}
	
	.tech_list {
		margin-top: 40px;
	}

	.tech_item {
		width: 70px;
		height: 70px;
	}

	.social {
		margin-top: 40px;
	}

	.social_button {
		width: 60px;
		height: 60px;
	}

	.experience_item {
		font-size: 20px;
		line-height: 24px;
	}

	.certificate_item img {
		width: 280px;
	}

	.certificate_item:not(:nth-child(2n)) {
		margin-right: 0;
	}

	.certificate_item:not(:nth-child(3n)) {
		margin-right: 20px;
	}
}

